.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 400px 100px;
}

#navbar {
  grid-column-start: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-row: span 2;

}

#title {
  grid-column: span 4;
}


#content {
  grid-column-start: span 4;
}

#footer {
  grid-column-start: span 5;
}
